virtualenvs/*/python*
*.tar
*.tar.gz
*.tgz
Home/jobs/*/builds/
Home/jobs/*/configurations/
Home/jobs/*/lastStable
Home/jobs/*/lastSuccessful
Home/jobs/*/scm-polling.log
Home/jobs/*/workspace/
MPICH2/fortran/g95/
MPICH2/fortran/gfortran-mp-4.3/
MPICH2/fortran/gfortran-mp-4.4/
MPICH2/fortran/gfortran-mp-4.5/
MPICH2/fortran/gfortran-mp-4.6/
MPICH2/fortran/gfortran-mp-4.7/
MPICH2/fortran/ifort/
MPICH2/fortran/pgfortran/
HDF5/fortran/g95/
HDF5/fortran/gfortran-mp-4.3/
HDF5/fortran/gfortran-mp-4.4/
HDF5/fortran/gfortran-mp-4.5/
HDF5/fortran/gfortran-mp-4.6/
HDF5/fortran/gfortran-mp-4.7/
HDF5/fortran/ifort/
HDF5/fortran/pgfortran/
usr
Home/.owner
Home/Fingerprint cleanup.log
Home/Workspace clean-up.log
Home/bp-ShiningPanda.xml
Home/config.xml
Home/hudson.maven.MavenModuleSet.xml
Home/hudson.model.UpdateCenter.xml
Home/hudson.plugins.git.GitSCM.xml
Home/hudson.plugins.git.GitTool.xml
Home/hudson.plugins.warnings.WarningsPublisher.xml
Home/hudson.scm.CVSSCM.xml
Home/hudson.scm.SubversionSCM.xml
Home/hudson.tasks.Ant.xml
Home/hudson.tasks.Mailer.xml
Home/hudson.tasks.Maven.xml
Home/hudson.tasks.Shell.xml
Home/hudson.triggers.SCMTrigger.xml
Home/identity.key
Home/jenkins.model.ArtifactManagerConfiguration.xml
Home/jenkins.model.JenkinsLocationConfiguration.xml
Home/jenkins.mvn.GlobalMavenConfig.xml
Home/nodeMonitors.xml
Home/org.jenkinsci.plugins.gitclient.JGitTool.xml
Home/plugins/
Home/proxy.xml
Home/queue.xml.bak
Home/secret.key
Home/secret.key.not-so-secret
Home/secrets/
Home/updates/
Home/userContent/
Home/war/

