<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git@github.com:astrofrog/hyperion.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>staging</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>HV</name>
      <values>
        <string>1.3.1</string>
        <string>2.0.0</string>
        <string>2.0.1</string>
        <string>hg</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>NV</name>
      <values>
        <string>1.4.1</string>
        <string>1.5.1</string>
        <string>1.6.1</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>PV</name>
      <values>
        <string>2.6</string>
        <string>2.7</string>
        <string>3.1</string>
        <string>3.2</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <combinationFilter>!(PV[0] == &quot;3&quot; &amp;&amp; NV[2] == &quot;4&quot;) &amp;&amp; !(PV[0] == &quot;3&quot; &amp;&amp; HV[0] == &quot;1&quot;) &amp;&amp; !(PV[0] == &quot;3&quot; &amp;&amp; HV == &quot;hg&quot;) </combinationFilter>
  <builders>
    <hudson.tasks.Shell>
      <command>$HOME/virtualenvs.hyperion/python$PV-numpy$NV-h5py$HV/bin/python setup.py build</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>$HOME/virtualenvs.hyperion/python$PV-numpy$NV-h5py$HV/bin/python setup.py install</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>PATH=$HOME/virtualenvs.hyperion/python$PV-numpy$NV-h5py$HV/bin:$HOME/fortran-builds/bin:$PATH $HOME/virtualenvs.hyperion/python$PV-numpy$NV-h5py$HV/bin/python setup.py test -a &quot;--junitxml=../../junit.xml&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>junit.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>